
SET IDENTITY_INSERT [dbo].[Drugs] ON 

INSERT [dbo].[Drugs] ([Id], [Code], [Name], [Symptom], [Quantity], [Price], [Stock], [Prescription], [Deleted], [UnitMeasureId], [PresentationId], [PharmacyId]) VALUES (1, N'XDEA', N'Novemina', N'Dolor de cabeza', 1000, CAST(50.00 AS Decimal(14, 2)), 1933, 0, 0, 1, 1, 1)
INSERT [dbo].[Drugs] ([Id], [Code], [Name], [Symptom], [Quantity], [Price], [Stock], [Prescription], [Deleted], [UnitMeasureId], [PresentationId], [PharmacyId]) VALUES (2, N'ABCD', N'Perifar Flex', N'Fiebre', 1000, CAST(125.00 AS Decimal(14, 2)), 1155, 1, 0, 1, 2, 1)
INSERT [dbo].[Drugs] ([Id], [Code], [Name], [Symptom], [Quantity], [Price], [Stock], [Prescription], [Deleted], [UnitMeasureId], [PresentationId], [PharmacyId]) VALUES (3, N'ZASW', N'Aspirina', N'Dolor en general', 2000, CAST(25.00 AS Decimal(14, 2)), 199958, 1, 1, 1, 2, 1)
SET IDENTITY_INSERT [dbo].[Drugs] OFF
GO
SET IDENTITY_INSERT [dbo].[Invitations] ON 

INSERT [dbo].[Invitations] ([Id], [UserName], [Created], [PharmacyId], [RoleId], [UserCode], [IsActive]) VALUES (1, N'admin1', CAST(N'2022-10-06T16:37:17.7558876' AS DateTime2), NULL, 1, N'391668', 0)
INSERT [dbo].[Invitations] ([Id], [UserName], [Created], [PharmacyId], [RoleId], [UserCode], [IsActive]) VALUES (2, N'employee1', CAST(N'2022-10-06T16:38:41.2817995' AS DateTime2), 1, 2, N'026041', 0)
INSERT [dbo].[Invitations] ([Id], [UserName], [Created], [PharmacyId], [RoleId], [UserCode], [IsActive]) VALUES (3, N'owner1', CAST(N'2022-10-06T16:38:55.3009591' AS DateTime2), 1, 3, N'138667', 0)
SET IDENTITY_INSERT [dbo].[Invitations] OFF
GO
SET IDENTITY_INSERT [dbo].[Pharmacys] ON 

INSERT [dbo].[Pharmacys] ([Id], [Name], [Address]) VALUES (1, N'Farmacia 1234', N'Av Uruguay 23223')
INSERT [dbo].[Pharmacys] ([Id], [Name], [Address]) VALUES (2, N'Farmacia Av. Italia', N'Av Italia 9822')
SET IDENTITY_INSERT [dbo].[Pharmacys] OFF
GO
SET IDENTITY_INSERT [dbo].[Presentations] ON 

INSERT [dbo].[Presentations] ([Id], [Name], [Deleted]) VALUES (1, N'capsules', 0)
INSERT [dbo].[Presentations] ([Id], [Name], [Deleted]) VALUES (2, N'tablet', 0)
INSERT [dbo].[Presentations] ([Id], [Name], [Deleted]) VALUES (3, N'liquid', 0)
SET IDENTITY_INSERT [dbo].[Presentations] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchaseDetails] ON 

INSERT [dbo].[PurchaseDetails] ([Id], [DrugId], [Quantity], [Price], [PurchaseId]) VALUES (1, 2, 20, CAST(125.00 AS Decimal(14, 2)), 1)
INSERT [dbo].[PurchaseDetails] ([Id], [DrugId], [Quantity], [Price], [PurchaseId]) VALUES (2, 1, 10, CAST(50.00 AS Decimal(14, 2)), 1)
INSERT [dbo].[PurchaseDetails] ([Id], [DrugId], [Quantity], [Price], [PurchaseId]) VALUES (3, 2, 2, CAST(125.00 AS Decimal(14, 2)), 2)
SET IDENTITY_INSERT [dbo].[PurchaseDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[Purchases] ON 

INSERT [dbo].[Purchases] ([Id], [PurchaseDate], [TotalAmount], [PharmacyId], [BuyerEmail]) VALUES (1, CAST(N'2022-11-06T10:21:31.8160000' AS DateTime2), CAST(3000.00 AS Decimal(14, 2)), 1, N'carlos@gmail.com')
INSERT [dbo].[Purchases] ([Id], [PurchaseDate], [TotalAmount], [PharmacyId], [BuyerEmail]) VALUES (2, CAST(N'2022-10-05T10:21:31.8160000' AS DateTime2), CAST(3375.00 AS Decimal(14, 2)), 1, N'roberto@gmail.com')
INSERT [dbo].[Purchases] ([Id], [PurchaseDate], [TotalAmount], [PharmacyId], [BuyerEmail]) VALUES (3, CAST(N'2022-10-05T10:21:31.8160000' AS DateTime2), CAST(3650.00 AS Decimal(14, 2)), 1, N'santi@gmail.com')
SET IDENTITY_INSERT [dbo].[Purchases] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([Id], [Name]) VALUES (1, N'Administrator')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (2, N'Employee')
INSERT [dbo].[Roles] ([Id], [Name]) VALUES (3, N'Owner')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[Sessions] ON 

INSERT [dbo].[Sessions] ([Id], [Token], [UserId]) VALUES (1, N'3a3c2363-d3ca-4deb-b2dd-c71300429d84', 1)
INSERT [dbo].[Sessions] ([Id], [Token], [UserId]) VALUES (2, N'e9e0e1e9-3812-4eb5-949e-ae92ac931401', 4)
INSERT [dbo].[Sessions] ([Id], [Token], [UserId]) VALUES (3, N'326df984-a9f4-45a8-8a0b-79328578cc7c', 3)
SET IDENTITY_INSERT [dbo].[Sessions] OFF
GO
SET IDENTITY_INSERT [dbo].[StockRequestDetails] ON 

INSERT [dbo].[StockRequestDetails] ([Id], [DrugId], [Quantity], [StockRequestId]) VALUES (1, 2, 1200, 1)
INSERT [dbo].[StockRequestDetails] ([Id], [DrugId], [Quantity], [StockRequestId]) VALUES (2, 1, 2000, 1)
INSERT [dbo].[StockRequestDetails] ([Id], [DrugId], [Quantity], [StockRequestId]) VALUES (3, 3, 200000, 1)
SET IDENTITY_INSERT [dbo].[StockRequestDetails] OFF
GO
SET IDENTITY_INSERT [dbo].[StockRequests] ON 

INSERT [dbo].[StockRequests] ([Id], [Status], [RequestDate], [EmployeeId]) VALUES (1, 3, CAST(N'2022-10-06T16:46:17.4805118' AS DateTime2), 4)
INSERT [dbo].[StockRequests] ([Id], [Status], [RequestDate], [EmployeeId]) VALUES (2, 2, CAST(N'2022-10-06T16:47:37.9672539' AS DateTime2), 4)
SET IDENTITY_INSERT [dbo].[StockRequests] OFF
GO
SET IDENTITY_INSERT [dbo].[UnitMeasures] ON 

INSERT [dbo].[UnitMeasures] ([Id], [Name], [Deleted]) VALUES (1, N'mg', 0)
INSERT [dbo].[UnitMeasures] ([Id], [Name], [Deleted]) VALUES (2, N'g', 0)
INSERT [dbo].[UnitMeasures] ([Id], [Name], [Deleted]) VALUES (3, N'ml', 0)
SET IDENTITY_INSERT [dbo].[UnitMeasures] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([Id], [UserName], [Email], [Password], [Address], [RegistrationDate], [RoleId], [PharmacyId]) VALUES (1, N'admin', N'admin@gmail.com', N'Aqwertyu2.', N'Av. Rivera 3366', CAST(N'2022-10-06T14:25:10.4870000' AS DateTime2), 1, NULL)
INSERT [dbo].[Users] ([Id], [UserName], [Email], [Password], [Address], [RegistrationDate], [RoleId], [PharmacyId]) VALUES (2, N'admin1', N'admin1@gmail.com', N'Aqwertyu2.', N'18 de Julio', CAST(N'2022-10-06T08:22:14.1010000' AS DateTime2), 1, NULL)
INSERT [dbo].[Users] ([Id], [UserName], [Email], [Password], [Address], [RegistrationDate], [RoleId], [PharmacyId]) VALUES (3, N'owner1', N'owner1@gmail.com', N'Aqwertyu2.', N'18 de Julio 33333', CAST(N'2022-10-06T08:22:14.1010000' AS DateTime2), 3, 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
ALTER TABLE [dbo].[Drugs] ADD  DEFAULT ((0)) FOR [PharmacyId]
GO
ALTER TABLE [dbo].[Invitations] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsActive]
GO
ALTER TABLE [dbo].[Presentations] ADD  DEFAULT (N'') FOR [Name]
GO
ALTER TABLE [dbo].[Sessions] ADD  DEFAULT ((0)) FOR [UserId]
GO
ALTER TABLE [dbo].[UnitMeasures] ADD  DEFAULT (N'') FOR [Name]
GO
ALTER TABLE [dbo].[Drugs]  WITH CHECK ADD  CONSTRAINT [FK_Drugs_Pharmacys_PharmacyId] FOREIGN KEY([PharmacyId])
REFERENCES [dbo].[Pharmacys] ([Id])
GO
ALTER TABLE [dbo].[Drugs] CHECK CONSTRAINT [FK_Drugs_Pharmacys_PharmacyId]
GO
ALTER TABLE [dbo].[Drugs]  WITH CHECK ADD  CONSTRAINT [FK_Drugs_Presentations_PresentationId] FOREIGN KEY([PresentationId])
REFERENCES [dbo].[Presentations] ([Id])
GO
ALTER TABLE [dbo].[Drugs] CHECK CONSTRAINT [FK_Drugs_Presentations_PresentationId]
GO
ALTER TABLE [dbo].[Drugs]  WITH CHECK ADD  CONSTRAINT [FK_Drugs_UnitMeasures_UnitMeasureId] FOREIGN KEY([UnitMeasureId])
REFERENCES [dbo].[UnitMeasures] ([Id])
GO
ALTER TABLE [dbo].[Drugs] CHECK CONSTRAINT [FK_Drugs_UnitMeasures_UnitMeasureId]
GO
ALTER TABLE [dbo].[Invitations]  WITH CHECK ADD  CONSTRAINT [FK_Invitations_Pharmacys_PharmacyId] FOREIGN KEY([PharmacyId])
REFERENCES [dbo].[Pharmacys] ([Id])
GO
ALTER TABLE [dbo].[Invitations] CHECK CONSTRAINT [FK_Invitations_Pharmacys_PharmacyId]
GO
ALTER TABLE [dbo].[Invitations]  WITH CHECK ADD  CONSTRAINT [FK_Invitations_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Invitations] CHECK CONSTRAINT [FK_Invitations_Roles_RoleId]
GO
ALTER TABLE [dbo].[PurchaseDetails]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseDetails_Drugs_DrugId] FOREIGN KEY([DrugId])
REFERENCES [dbo].[Drugs] ([Id])
GO
ALTER TABLE [dbo].[PurchaseDetails] CHECK CONSTRAINT [FK_PurchaseDetails_Drugs_DrugId]
GO
ALTER TABLE [dbo].[PurchaseDetails]  WITH CHECK ADD  CONSTRAINT [FK_PurchaseDetails_Purchases_PurchaseId] FOREIGN KEY([PurchaseId])
REFERENCES [dbo].[Purchases] ([Id])
GO
ALTER TABLE [dbo].[PurchaseDetails] CHECK CONSTRAINT [FK_PurchaseDetails_Purchases_PurchaseId]
GO
ALTER TABLE [dbo].[Purchases]  WITH CHECK ADD  CONSTRAINT [FK_Purchases_Pharmacys_PharmacyId] FOREIGN KEY([PharmacyId])
REFERENCES [dbo].[Pharmacys] ([Id])
GO
ALTER TABLE [dbo].[Purchases] CHECK CONSTRAINT [FK_Purchases_Pharmacys_PharmacyId]
GO
ALTER TABLE [dbo].[StockRequestDetails]  WITH CHECK ADD  CONSTRAINT [FK_StockRequestDetails_Drugs_DrugId] FOREIGN KEY([DrugId])
REFERENCES [dbo].[Drugs] ([Id])
GO
ALTER TABLE [dbo].[StockRequestDetails] CHECK CONSTRAINT [FK_StockRequestDetails_Drugs_DrugId]
GO
ALTER TABLE [dbo].[StockRequestDetails]  WITH CHECK ADD  CONSTRAINT [FK_StockRequestDetails_StockRequests_StockRequestId] FOREIGN KEY([StockRequestId])
REFERENCES [dbo].[StockRequests] ([Id])
GO
ALTER TABLE [dbo].[StockRequestDetails] CHECK CONSTRAINT [FK_StockRequestDetails_StockRequests_StockRequestId]
GO
ALTER TABLE [dbo].[StockRequests]  WITH CHECK ADD  CONSTRAINT [FK_StockRequests_Users_EmployeeId] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[StockRequests] CHECK CONSTRAINT [FK_StockRequests_Users_EmployeeId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Pharmacys_PharmacyId] FOREIGN KEY([PharmacyId])
REFERENCES [dbo].[Pharmacys] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Pharmacys_PharmacyId]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Roles] ([Id])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles_RoleId]
GO
